<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0JXEpVHxMnzE2GQkLJGXyu0MyGS4p0Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>949152926855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ocoda.anam</string>
	<key>PROJECT_ID</key>
	<string>anam-42579</string>
	<key>STORAGE_BUCKET</key>
	<string>anam-42579.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949152926855:ios:dfdcfcb6f9614c227f7c22</string>
</dict>
</plist>